<% @listings.in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <% group.each do |listing| %>
      <div class='col-md-3'>
        <div class="card">
          <div class="card-body">
            <img  class="w-100 shadow-1-strong rounded mb-4"
      src= <%= listing.image_url %>
      alt="Boat on Calm Water"
    />
          <h5 class="card-title"><%= listing.city %></h5>
          <h5 class="card-title"><%=listing.country%></h5>
          <h6 class="card-title"><%=listing.price%> $</h6>

        </div>
      </div>
      </div>
      <% end %>
    </div>
  <% end %>
